<?xml version="1.0" encoding="UTF-8"?>
<logconfig>
  <!--The switch which can control write all log context into log file or not. -->
  <fileswitch>true</fileswitch>
  <!--The switch which can control write info log context into log file or not. -->
  <infolog>true</infolog>
  <!--The switch which can control write fatal log context into log file or not. -->
  <fatallog>true</fatallog>
  <!--The switch which can control write debug log context into log file or not. -->
  <debuglog>true</debuglog>
  <!--The switch which can control write error log context into log file or not. -->
  <errorlog>true</errorlog>
</logconfig>
